.header
  .header__top
    .title
    .serch
  .header__bottom
    .left-box
      .left-box__categories
        .category
        カテゴリー
      .left-box__brand
        ブランド
    .right-box
      .right-box__login
      .right-box__new-user